.venv/
__pycache__/
Backup/
data/Backups/auto/*.db
data/kyc/*.jpg
data/bills/*.txt
test_out_src/
test_out/
keys/
platform/windows/windows_exe_dist/
platform/windows/windows_build_temp/
platform/windows/windows_secured_dist/
